# created by virtualenv automatically
.Python
pip-selfcheck.json
bin/*
include/*
lib/*
share/*
__py
.mypy*
*.rdb
*.pyc
.vscode/*
configuration.json
*.DS_Store
dist/*
*.egg-info
deploy
build/*
pyvenv.cfg
.mypy_cache
test.sh
procuret_configuration
